{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="form-group">
            <label for="subtitle">Subtitle</label>
            <input type="text" class="form-control" name="subtitle" id="subtitle">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content" id="content" rows="30"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

{% endblock %}