{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    {% if messages %}
    <div  class="alert alert-danger" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <div>
            <h5 class="border-bottom py-2">{{ question.subject }}</h5>
        </div>
        <div class="text-right">
            <span class="col-4 border-right">{{ question.author }}</span>
            {% if question.modifiedDate %}
            <span class="col-8">modified at {{ question.modifiedDate }}</span>
            {% else %}
            <span class="col-8">created at {{ question.createDate }}</span>
            {% endif %}
        </div>
    </div>

    <div class="card my-3">
        <div style="height:30px"></div>
        <div class="card-text p-2">{{ question.content }}</div>
        <div style="height:30px"></div>
    </div>

    {% if request.user == question.author %}
    <div class="row justify-content-end" style="margin-right: 0px;">
        <a type="button" href="{% url 'board:question_modify' question.id %}" class="btn btn-primary m-1">modify</a>
        <a type="button" href="#" class="btn btn-primary m-1 delete"
            data-uri="{% url 'board:question_delete' question.id %}">delete</a>
    </div>
    {% endif %}

    <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }} answers</h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ answer.content }}</div>
            <div class="text-right">{{ answer.author }}</div>
            {% if answer.modifyDate %}
            <div class="text-right">modified at {{ answer.modifyDate }}</div>
            {% else %}
            <div class="text-right">{{ answer.createDate }}</div>
            {% endif %}
            <a type="button" class="btn btn-secondary" href="{% url 'board:answer_modify' answer.id %}">modify</a>
            <a type="button" class="delete btn btn-secondary" href="#"
                data-uri="{% url 'board:answer_delete' answer.id %}">delete</a>
        </div>
    </div>
    {% endfor %}

    <form action="{% url 'board:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% include 'form_errors.html' %}
        <div class="form-group my-3">
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
                      name="content" id="content" class="form-control" rows="5"></textarea>
        </div>
        <input type="submit" value="answer" class="btn btn-primary">
    </form>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("Really?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}